/* Importing Custom Fonts */
@font-face {
    font-family: vogueOutline;
    src: url(./fonts/Vogue-Outline.woff);
}

@font-face {
    font-family: vogueThin;
    src: url(./fonts/Vogue-Thin.woff);
}

@font-face {
    font-family: humbolt;
    src: url(./fonts/Humbolt.woff);
}

/* Custom Style Overrides */

.masthead {
    background: url(./images/mhbackground.gif);
    background-size: cover;
    background-position: center center;

}

.masthead h1 {
    font-family: vogueOutline;
    color: #fa675f;
}

.masthead h3 {
    font-family: vogueThin;
    text-align: right;
    color: #fa9d98;
}

.btn-primary, btn-primary:active, btn-primary:focus{
    background-color:#fa675f;
    border-color: #fa9d98;
    font-family: vogueThin;
}

.btn-primary:hover {
    background-color: #595769;
    border-color: #fa9d98;
}

#sidebar-wrapper {
    background-color: #fa9d98 !important;
    border: none !important;
    text-align: center !important;
    color: black !important;
    font-family: vogueThin;
}

.sidebar-brand {
    text-align: left !important;
    font-family: vogueThin;

}

#about, #projects, #contact, #content-section, #container, #resume, .footer {
    background-color: #151824 !important;
    color: #fa9d98;
    font-family: vogueThin;
    text-align: center;
}

.fab {
    padding: 15px;
    display: inline;
}

#resume {
    width: 100%;
    height: 500px;
}


